
* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    font-family: Lucida Console, monospace;
    background:url("https://images.pexels.com/photos/4033042/pexels-photo-4033042.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")  ;
    background-size: cover;
}
div {
    color: #727272;
    text-align: center;
}
p {
    margin: 1px;
    font-size: 60px;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 800;
    transition: all 1s ease-in-out;
    position: relative;
}
p::before {
    content: attr(data-item);
    transition: all 1s ease-in-out;
    color: #8254ff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
p:hover::before {
    width: 100%;
}

nav .menuItems {
    list-style: none;
    display: flex;
}
nav .menuItems li {
    margin: 20px !important;
}
nav .menuItems li a {
    text-decoration: none !important;
    color: #8f8f8f !important;
    font-size: 34px !important;
    font-weight: 800 !important;
    transition: all 0.5s ease-in-out !important;
    position: relative !important;
    text-transform: uppercase !important;
}
nav .menuItems li a::before {
    content: attr(data-item);
    transition: 0.5s !important;
    color: #8254ff !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 0 !important;
    overflow: hidden !important;
}
nav .menuItems li a:hover::before {
    width: 100% !important;
    transition: all 0.5s ease-in-out !important;
}
footer {
    position: absolute;
    font-size: 12px;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    background-color: #f1f1f1;
    color: #000;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;
}
footer a:hover {
    border-bottom: 1px transparent;
}

.page{
    display: inline-block;
    margin: 10px;
    text-align: center;
    height: 850px;
    width: 1500px;
    animation: animated-border 2s infinite !important;
    line-height: 20px;
    font-weight: bold;
    border: 4px solid #9e9eff;
    border-radius: 10px;
    padding: 15px;
}
.card{

    width: 300px !important;
    height: 500px !important;
    margin-top:5px !important;
    display: inline-block !important;
    padding: 5px !important;
    position: relative ;
    display: -ms-flexbox ;
    display: flex;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

h5 {
    display: block !important;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
input   {
    width: 70%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size:16px;
    font-weight: bold;
}
textarea {
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.button {
    width: 25% !important;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}
h3 {
   color: #1010e7;
    font-size: 20px;
}
.styled-table {
    border-collapse: collapse;
    border: 4px solid #9e9eff;
    border-radius: 7px;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #1010e7;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #1010e7;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #1010e7;
}


.o_nama{
    margin-top: 40px;
    border: 10px solid rgba(234, 199, 46, 0.53);
    width: 70%;
    margin-left: 300px;
    margin-top: 100px;
}
.o_nama p{
    margin: 1px !important;
    font-size: 20px !important;
    color: #317e3e !important;
    font-weight: 600 !important;
}
.o_nama a{

    color: #000000 !important;

}

/*.pagination {*/
/*    padding: 20px;*/
/*}*/
/*.pagination, .pagination * {*/
/*    user-select: none;*/
/*}*/
/*.pagination a {*/
/*    display: inline-block;*/
/*    padding: 0 10px;*/
/*    cursor: pointer;*/
/*}*/
/*.pagination a.disabled {*/
/*    opacity: 0.3;*/
/*    pointer-events: none;*/
/*    cursor: not-allowed;*/
/*}*/
/*.pagination a.current {*/
/*    background: #f3f3f3;*/
/*}*/

/* Cosmetic only */
#easyPaginate {width:300px;}
#easyPaginate img {display:block;margin-bottom:10px;}
.easyPaginateNav a {padding:5px;}
.easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}



form {
    display: inline-block !important;
    margin-top: 10px !important;
}